p{
  font-family: Roboto;
}

.youtube {
  width: 280px;
  line-height: 25px;
  text-align: left;
}

.video-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 1px;
}

.description > p {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 0px;
  line-height: 20px;
}

.apple {
  font-size:14px;
  text-align: center;
  background-color: rgb(227, 65, 64);
  color:white;
  padding: 16px 0px;
}

.apple > span:hover {
  text-decoration: underline;
  cursor: pointer;
}