.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 57px;
  width: 72px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  z-index: 99;
}

.button-sidebar > img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-bottom: 6px;
}

.button-sidebar > p {
  font-size: 10px;
}

.button-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 64px;
  padding: 16px 0 14px;
  border-radius: 10px;
  transition: background-color .05s;
  cursor: pointer;
}

.button-sidebar:hover {background-color: rgb(239, 239, 239);}

.button-sidebar:active {background-color: rgb(224, 224, 224);}
