body {margin: 50px 100px;}
body > p {
  text-decoration:underline;
  margin: 40px 0px 5px 0px;
}

.gmail-box {
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, .3);
  padding: 10px 20px;
  border-radius: 5px;
  max-width: 475px;
  min-width: 250px;
}


.gmail-box > p {
  color: gray;
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
}

.mail-box * {
  margin: 0;
}

.mail-box {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 25px;
}

.mail-box > img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
}

.mail-box > div {flex: 1;}

.mail-box > div * {
 margin-bottom: 3px;
}

.mailbottom-text > p {color: gray;}

.mailtitle-text {
  display: flex;
  justify-content: space-between;
}

.mailtitle-text > p {
  color: grey;
  font-size: 17px;
}

.tweet-box {
  display: flex;
  gap: 15px;
}

.tweet-box * {
  margin: 0;
  font-family: Roboto, Arial;
}

.tweet-box > img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
  margin-top: 3px;
}

.tweet-content {
  line-height: 25px;
}

.tweet-name {font-weight: 700;}

.tweet-name > span {
  font-weight: 400;
  color: dimgrey;
}

.tweet-embedded {
  margin-top: 15px;
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 20px;
  flex-basis: auto;
}

.thumbnail-embedded {
  background-color: lightgrey;
  width: 130px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  flex-shrink: 0;
}

.text-embedded {
  line-height: 30px;
  padding: 20px 15px;
}

.link-embedded {color: dimgrey;}